/*Adaptado de: https://github.com/meirelesff/siconvr/blob/main/pkgdown/extra.css */

/* Fonts */

  @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400&display=swap');

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Source Sans Pro", "Ubuntu",Tahoma,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;
  line-height: 1.1;
  color: inherit;
}

body {
  font-family: "Source Sans Pro", "Ubuntu",Tahoma,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 18px;
}


/* Code */
  code, kbd, pre, samp {
    font-family: "Source Code Pro", Menlo,Monaco,Consolas,"Courier New",monospace;
  }

pre, code {
  background-color: #cfdfea;
    color: #333333;
    font-size: 15px;
}

.kw {
  color: #f8f8f2;
}

.fu {
  color: #6949b5;
}

.op {
  color: #8a3b3b;
}

.ch, .st {
  color: #3c763d;
}

code a, pre a {
  color: #286090;
}

.btn-primary, .btn-primary:hover {
  color: #ffffff;
    background-color: #3e7dab;
    border-color: #3e7dab;
}

/* Navbar */
  .navbar-default {
    background-color: #3e7dab;
      border-color: #3e7dab;
    color: #FFFFFF;
  }

.navbar-default .navbar-nav>li>a {
  color: #ffffff;
    font-size: 16px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
  color: #ffffff;
    background-color: #31708f;
}

.label-default {
  background-color: #31708f;
}

.navbar-default .navbar-link {
    color: #f5f5f5;
}

/* Links */
  a {
    color: #3e7dab;
  }

a:hover, a:focus {
  color: #3e7dab;
    text-decoration: underline;
}
