on:
  push:
    branches: master

name: update-data

jobs:
  render:
    name: update-data
    runs-on: macOS-latest
    steps:
      - uses: actions/checkout@v2
      - uses: r-lib/actions/setup-r@v1
      - uses: r-lib/actions/setup-pandoc@v1
      - name: Install rmarkdown, remotes, and the local package
        run: |
          install.packages("remotes")
          remotes::install_local(".")
        shell: Rscript {0}
      - name: Execute Script to update data
        run: |
        mananciais_consolidado <- readr::read_rds("data/mananciais_consolidado.rds")
        mananciais:::obter_ano(ano = 2020, ano_atual = TRUE) %>%  mananciais:::limpar_dados(df = ., usar_baixados = FALSE) %>%   readr::write_rds(glue::glue("data/mananciais_2020.rds"),  compress = "xz")
        mananciais <- readr::read_rds("data/mananciais_2020.rds") %>% rbind(mananciais_consolidado)
        usethis::use_data(mananciais, overwrite = T)
        readr::write_csv2(mananciais, "docs/data/mananciais.csv")
      - name: Commit results
        run: |
          git config --local user.email "actions@github.com"
          git config --local user.name "GitHub Actions"
          git commit README.md -m 'Re-build README.Rmd' || echo "No changes to commit"
          git push origin || echo "No changes to commit"
